name: Django Application CI

on: 
  push:
    branches:
    - 'master'

jobs:

  build:
    name: Build the Django
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with: 
          python-version: "3.11"

      - name: Install Dependencies
        run: pip install --upgrade pip && pip install -r requirements.txt

      - name: Testing using Black & Flake8
        run: |
          flake8 django_web_app 
          black --check django_web_app  

      - name: Git Leaks 
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          