name: Django Application CI

on: 
  push:
    branches:
    - 'master'

jobs:

  build:
    name: Build the Django
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with: 
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pwd
          pip install --upgrade pip  
          pip install -r requirements.txt

      - name: Testing using Black & Flake8
        run: |
          flake8 django_web_app 
          black --check django_web_app  

      - name: Migrate the Database
        run: |
          cd django_web_app 
          python manage.py migrate

      - name: Run the Server
        run: | 
          cd django_web_app 
          python manage.py runserver
          
