name: Django Application CI

on: 
  push:
    branches:
    - 'master'

jobs:

  build:
    strategy:
      max-parallel: 2
      matrix:
        version: ["3.11"]
    name: Build the Django
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with: 
          python-version: ${{ matrix.version }}

      - name: Install Dependencies
        run: |
          ls
          pwd
          pip install --upgrade pip  
          pip install -r requirements.txt

      - name: Testing using Flake8
        continue-on-error: true
        run: |
          cd django_web_app
          flake8 --exclude '.git' --exclude  '__pycache__'   --max-line-length 120 --output Flake.txt

      - name: Upload Flake8 Test Results
        uses: actions/upload-artifact@v4
        with:
          name: FlakeTest-Report
          path: "django_web_app/Flake.txt"

      - name: Testing using Black 
        continue-on-error: true
        run: |
          cd django_web_app
          black . 

      - name: Gitleaks
        continue-on-error: true
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}